@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

input, textarea {
  color: theme('colors.text.input');
  background-color: theme('colors.background.input');
}

#loginButton {
  width: 200px;
  height: 60px;
  cursor: pointer;
}

#buttonText {
  position: absolute;
  color: white;
  font-size: 18px;
  pointer-events: none;
}